@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.Header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  height: 100px;
  font-size: 25px;
}
.header-title {
  margin: auto 45px;
}
.header-title > a {
  text-decoration: none;
  color: black;
}
.top-menu {
  margin: auto 45px;
}
.nav-item > a {
  padding: 10px;
  margin: auto 15px;
  color: black;
  text-decoration: none;
  transition: 500ms;
}
.nav-item > a:hover {
  background-color: white;
  padding: 20px;
}
.btn {
  transition: 500ms;
}
.edit-icon {
  position: absolute;
  cursor: pointer;
}
.form-check-input {
  cursor: pointer;
}

